NetrwTreeListing\ 2
.netrwhist

# fish
fish/.config/fish/fish_variables
fish/.config/fish/fishd.tmp*

fish/.config/fish/completions/*
fish/.config/fish/completions/.*

fish/.config/fish/conf.d/*
fish/.config/fish/conf.d/.*

fish/.config/fish/functions/*
fish/.config/fish/functions/.*

!fish/.config/fish/functions/ksa.fish
!fish/.config/fish/functions/l.fish
!fish/.config/fish/functions/la.fish
!fish/.config/fish/functions/lg.fish
!fish/.config/fish/functions/lga.fish
!fish/.config/fish/functions/lh.fish
!fish/.config/fish/functions/lha.fish
!fish/.config/fish/functions/lla.fish
!fish/.config/fish/functions/lt.fish
!fish/.config/fish/functions/lta.fish
!fish/.config/fish/functions/nvim.fish
!fish/.config/fish/functions/nvm.fish
!fish/.config/fish/functions/unset.fish
!fish/.config/fish/functions/v.fish

# Script to avoid
scripts/.local/bin/__pycache__/
scripts/.local/bin/bat
scripts/.local/bin/django-admin
scripts/.local/bin/django-admin.py
scripts/.local/bin/dmypy
scripts/.local/bin/fd
scripts/.local/bin/fnm
scripts/.local/bin/fx
scripts/.local/bin/icalendar
scripts/.local/bin/mypy
scripts/.local/bin/mypyc
scripts/.local/bin/pipenv
scripts/.local/bin/pipenv-resolver
scripts/.local/bin/rust-analyzer
scripts/.local/bin/rust-analyzer-mac
scripts/.local/bin/sourcery
scripts/.local/bin/sqlformat
scripts/.local/bin/stubgen
scripts/.local/bin/stubtest
scripts/.local/bin/texlab
scripts/.local/bin/virtualenv
scripts/.local/bin/virtualenv-clone

# JetBrains IDE
scripts/.local/bin/jetbrains-toolbox
scripts/.local/bin/clion
scripts/.local/bin/pycharm
scripts/.local/bin/webstorm
