! Guillaume QUITTET Xressources configuration
! -------------------------------------------
!
! To update X apps configuration : xrdb -merge ~/.Xresources
!

! XTerm and UXTerm ------------------------------------------------------------

! Set the font
xterm*facename: Fira Mono
xterm*facesize: 10
! xterm*letterSpace: -1
urxvt*font: xft:Fira Mono-10
! urxvt.letterSpace: 1.5

URxvt.perl-ext:
URxvt.perl-ext-common:

! Add utf-8 support
xterm*locale: true
urxvt*locale: true

! Use 256 colors
xterm*termName: xterm-256color
urxvt*termName: rxvt-unicode-256color

! Set the saved lines for scrolling
xterm*saveLines: 1024
urxvt*saveLines: 1024

! Fix the META key
xterm*metaSendsEscape: true
urxvt*metaSendsEscape: true
! Hide cursor when typping
xterm*pointerBlank: true
urxvt*pointerBlank: true

! Fix the scrolling
xterm*jumpScroll:         true
urxvt*jumpScroll:         true
xterm*multiScroll:        true
urxvt*multiScroll:        true
xterm*scrollKey:          true
urxvt*scrollKey:          true
xterm*scrollTtyOutput:    false
urxvt*scrollTtyOutput:    false
xterm*scrollBar:          false
urxvt*scrollBar:          false

! Disable the toolbar
xterm*toolBar:            false
urxvt*toolBar:            false

! Copy and paste from clipboard
xterm*selectToClipboard: true
urxvt*selectToClipboard: true

!! Gruvbox
!! Fake transparency. It has priority over true transparency (composite)
! urxvt*transparent: true
! urxvt*shading: 15
! urxvt*depth: 32
! urxvt*background: [95]#282A36
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! xpdf ------------------------------------------------------------------------

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*urlCommand:        /usr/bin/firefox %s

! Font -------------------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
