! Guillaume QUITTET Xressources configuration
! -------------------------------------------
!
! To update X apps configuration : xrdb -merge ~/.Xresources
!

! XTerm and UXTerm ------------------------------------------------------------

! Set the font
xterm*facename: Fira Mono
xterm*facesize: 10
! xterm*letterSpace: -1
urxvt*font: xft:Fira Mono-10
! urxvt.letterSpace: 1.5

URxvt.perl-ext:
URxvt.perl-ext-common:

! Add utf-8 support
xterm*locale: true
urxvt*locale: true

! Use 256 colors
xterm*termName: xterm-256color
urxvt*termName: rxvt-unicode-256color

! Set the saved lines for scrolling
xterm*saveLines: 1024
urxvt*saveLines: 1024

! Fix the META key
xterm*metaSendsEscape: true
urxvt*metaSendsEscape: true
! Hide cursor when typping
xterm*pointerBlank: true
urxvt*pointerBlank: true

! Fix the scrolling
xterm*jumpScroll:         true
urxvt*jumpScroll:         true
xterm*multiScroll:        true
urxvt*multiScroll:        true
xterm*scrollKey:          true
urxvt*scrollKey:          true
xterm*scrollTtyOutput:    false
urxvt*scrollTtyOutput:    false
xterm*scrollBar:          false
urxvt*scrollBar:          false

! Disable the toolbar
xterm*toolBar:            false
urxvt*toolBar:            false

! Copy and paste from clipboard
xterm*selectToClipboard: true
urxvt*selectToClipboard: true

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
!! Fake transparency. It has priority over true transparency (composite)
! urxvt*transparent: true
! urxvt*shading: 15
! urxvt*depth: 32
! urxvt*background: [95]#282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! xpdf ------------------------------------------------------------------------

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*urlCommand:        /usr/bin/firefox %s

! Font -------------------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
