! Guillaume QUITTET Xressources configuration
! -------------------------------------------
!
! To update X apps configuration : xrdb -merge ~/.Xresources
!

! XTerm and UXTerm ------------------------------------------------------------

! Set the font
xterm*facename: Fira Mono
xterm*facesize: 10
! xterm*letterSpace: -1
urxvt*font: xft:Fira Mono-10
! urxvt.letterSpace: 1.5

URxvt.perl-ext:
URxvt.perl-ext-common:

! Add utf-8 support
xterm*locale: true
urxvt*locale: true

! Use 256 colors
xterm*termName: xterm-256color
urxvt*termName: rxvt-unicode-256color

! Set the saved lines for scrolling
xterm*saveLines: 1024
urxvt*saveLines: 1024

! Fix the META key
xterm*metaSendsEscape: true
urxvt*metaSendsEscape: true
! Hide cursor when typping
xterm*pointerBlank: true
urxvt*pointerBlank: true

! Fix the scrolling
xterm*jumpScroll:         true
urxvt*jumpScroll:         true
xterm*multiScroll:        true
urxvt*multiScroll:        true
xterm*scrollKey:          true
urxvt*scrollKey:          true
xterm*scrollTtyOutput:    false
urxvt*scrollTtyOutput:    false
xterm*scrollBar:          false
urxvt*scrollBar:          false

! Disable the toolbar
xterm*toolBar:            false
urxvt*toolBar:            false

! Copy and paste from clipboard
xterm*selectToClipboard: true
urxvt*selectToClipboard: true

!! Gruvbox
!! Fake transparency. It has priority over true transparency (composite)
! urxvt*transparent: true
! urxvt*shading: 15
! urxvt*depth: 32
! urxvt*background: [95]#282A36
! hard contrast: *background: #1B2B34
*background: #1B2B34
! soft contrast: *background: #4F5B66
*foreground: #D8DEE9
! Black + DarkGrey
*color0:  #343D46
*color8:  #65737E
! DarkRed + Red
*color1:  #EC5f67
*color9:  #EC5f67
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #F99157
*color11: #FAC863
! DarkBlue + Blue
*color4:  #6699CC
*color12: #5FB3B3
! DarkMagenta + Magenta
*color5:  #C594C5
*color13: #C594C5
! DarkCyan + Cyan
*color6:  #5FB3B3
*color14: #5FB3B3
! LightGrey + White
*color7:  #CDD3DE
*color15: #D8DEE9

! xpdf ------------------------------------------------------------------------

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*urlCommand:        /usr/bin/firefox %s

! Font -------------------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

