snippet cld "console.debug"
console.debug(${1});${0}
endsnippet

snippet cldo "console.debug (with info)"
console.debug("${1}", ${1});${0}
endsnippet

snippet cle "console.error"
console.error(${1});${0}
endsnippet

snippet cleo "console.error (with info)"
console.error("${1}", ${1});${0}
endsnippet

snippet cli "console.info"
console.info(${1});${0}
endsnippet

snippet clio "console.info (with info)"
console.info("${1}", ${1});${0}
endsnippet

